*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar
{
  background-color: #6D6A6A;
  display: flex;	
}

.navbar li {
  flex-direction: row;
  display: block;
}

.navbar a
{
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 28px;
}

.navbar1 li {
  display: inline-flex;
}

.content {
  text-align: justify;
  margin: 10px;
  padding: 10px;
  background-color: gray;
}

.content1 ul {
  display: inline-flex;
  list-style-type: none;
  float: right;
  margin-top: -20px;	
}

#toggle {
  display: none;
}

.togglearea
{
  background-color: #6d6a6a;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.togglearea label {
  background-color: white;
  height: 45px;
  width: 50px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.togglearea label span {
  background-color: black;
  height: 4px;
  width: 70%;
  margin: 2px 0px;
}

.togglearea {
  display: none;
}

.navbar2 li {
  list-style-type: none;
  display: none;
}

.content2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}


.div1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 20px;
  margin: 10px 5px;

}

.div2 {
  background-color: #f50505;
  padding-top: 20px;
}

.div2 p {
  margin-left: 100px;
}

.div3 {
  background-color: #ffcccc;
  padding-top: 20px;
}

.div1 img {
  margin-top: 22px;
  position: absolute;
  margin-left: 20px;
	
}

.div4 {
  background-color: #ffe6e6;
  border-bottom: 2px solid brown;

}

.div4 p {
  margin-left: 30px;
  padding-top: 10px;

}

.div5  {
  background-color: #ffe6e6;
}

.div5 p {
  margin: 5px 30px;
}

.div6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;

}

.content3 .carl h2 {

 padding-top: 90px;
}

.content1 li a {
  text-decoration: none;
  justify-content: space-between;
}

.content3 {
  grid-template-rows: 1fr 2fr;
  display: grid;
  margin: 0px 20px;
}

.carl3 {
  position: absolute;
  margin-top: 300px;
  color: white;
  font-size: 15px;
  margin-left: 20px;
}

.carl3 a {
  text-decoration: none;
}

.div4 i {
  font-size: 25px;
}

.carl5 {
  margin-left: 20px;
}

.content4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
}

.content5 ul {
  margin-left: 20px;
}

.content5 ul li {
  padding: 3px;
  border-bottom: 1px solid brown;
}

.content4 img {
  position: relative;
  margin-left: 145px;
  height: 70px;
  width: 70px;
}




@media screen and (max-width: 700px)
{
  .navbar {
	  flex-direction: column;
	  display: none;
	}

  #toggle:checked + .navbar {
	  display: flex;
	}

	.togglearea {	
	  display: flex;
	}

	.navbar2 {
	  text-align: right;
	  float: right;
	  margin-top: -230px;
	}

	.navbar2 li {
	  display: flex;
	  flex-direction: column;
	}

	.navbar1 li {
	  display: flex;
	}
}

